---
import type { itemGrid } from "../../types";
import Headline from "../ui/Headline.astro";
import ItemGrid from "../ui/ItemGrid.astro";

interface Props {
  features: itemGrid[];
  title: string;
  subtitle: string;
}

const { features, title, subtitle } = Astro.props;
---

<section class="mt-10 py-10 md:py-16">
  <Headline title={title} subtitle={subtitle} />
  <div class="relative mx-auto max-w-6xl px-8 md:px-8">
    <div class="grid gap-16 md:grid-cols-2">
      {features.map((f) => <ItemGrid {...f} />)}
    </div>
  </div>
</section>
