---
import type { itemGrid } from "../../types";
import Headline from "../ui/Headline.astro";
import ItemGrid from "../ui/ItemGrid.astro";

interface Props {
  features: itemGrid[];
  title: string;
  subtitle: string;
}

const { features, title, subtitle } = Astro.props;
---

<section class="mt-10 py-10 md:py-16">
  <Headline title="Unlock the voltage" subtitle="" />
  <div class="relative mx-auto max-w-6xl px-8 md:px-8">
    <div class="grid gap-16 md:grid-cols-2">
      <ItemGrid
        title="Blazing Fast Deployment:"
        content=" Experience instant launches, parallel processing, and automated CD pipelines that propel your apps to life in record time. Say goodbye to deployment lag and hello to lightning-fast updates. "
        iconName="tabler:speedboat"
      />
      <ItemGrid
        title="Clicks or CLI:"
        content="Take your pick – deploy with effortless drag-and-drop simplicity in our intuitive interface or unleash the power of our feature-rich CLI for granular control. Zzap flexes to fit your workflow, whether you’re a visual creator or a command-line wizard."
        iconName="tabler:mouse-2"
      />
      <ItemGrid
        title="Configuration as Code:"
        content="Craft your infrastructure like poetry using declarative languages, embrace version control for seamless collaboration and rollbacks, and ensure repeatable, scalable deployments with predictable results. Zzap makes infrastructure management a symphony of efficiency."
        iconName="tabler:code"
      />
      <ItemGrid
        title="Docker Friendly:"
        content="Enjoy seamless Docker image integration, effortless multi-container orchestration, and simplified microservices management. Zzap welcomes your Docker creations with open arms, making container deployment a breeze."
        iconName="tabler:brand-docker"
      />
    </div>
  </div>
</section>
