<section class="container mx-auto sm:px-10">
  <div
    class="grid-bg flex h-96 rounded-2xl border-gray-200 text-gray-50 dark:border-gray-900 dark:text-gray-950"
    id="mouse-follower-section"
  >
    <p
      class="sm:text-4lx m-auto px-10 text-center text-2xl font-bold tracking-tighter text-gray-950 dark:text-gray-100 lg:text-6xl"
    >
      The future of deployment is here. And it's Zzap fast.
    </p>
  </div>
</section>

<style>
  .grid-bg {
    background: repeating-linear-gradient(
        0deg,
        currentcolor,
        currentcolor 1px,
        transparent 1px,
        transparent 15px
      ),
      repeating-linear-gradient(
        90deg,
        currentcolor,
        currentcolor 1px,
        transparent 1px,
        transparent 15px
      ),
      radial-gradient(#93c5fd, white);
  }

  :is(.dark .grid-bg) {
    background: repeating-linear-gradient(
        0deg,
        currentcolor,
        currentcolor 1px,
        transparent 1px,
        transparent 15px
      ),
      repeating-linear-gradient(
        90deg,
        currentcolor,
        currentcolor 1px,
        transparent 1px,
        transparent 15px
      ),
      radial-gradient(#172554, #030712);
  }
</style>
