---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grid place-items-center min-h-screen">
    <h1 class="text-5xl font-bold tracking-tight">zzaap</h1>
  </main>
</Layout>
