---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="grid min-h-screen place-items-center">
    <h1 class="text-5xl font-bold tracking-tight">zzaap</h1>
  </main>
</Layout>
